/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

spec/rails_app/tmp/
spec/rails_app/db/*.sqlite3
spec/rails_app/db/*.sqlite3-journal
spec/rails_app/log/*.log

.byebug_history
